<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Bob</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div style="text-align: center;">
    <br>
    <h1>Logged In</h1>
    <h4 th:text="${currentAccount.username}"></h4>
    <h4 th:text="${currentAccount.email}"></h4>
    <form th:action="@{/checkMarketplace}" method="post">
        <button type="submit" class="button">Marketplace</button>
        <input type="hidden" th:field="${currentAccount.username}" name="username"/>
    </form>
    <form th:action="@{/checkShopping}" method="post">
        <button type="submit" class="button">Shopping</button>
        <input type="hidden" th:field="${currentAccount.username}" name="username"/>
    </form>
    <form th:action="@{/checkSelling}" method="post">
        <button type="submit" class="button">Selling</button>
        <input type="hidden" th:field="${currentAccount.username}" name="username"/>
    </form>
    <form th:action="@{/sellingMenu}" method="post">
        <button type="submit" class="button">Create a product</button>
        <input type="hidden" th:field="${currentAccount.username}" name="username"/>
    </form>

</div>
<script src="../static/js/jquery-3.7.1.min.js"></script>
</body>
<div th:replace="~{footer :: footer}"></div>
</html>