<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Bob</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div style="text-align: center;">
  <br>
  <h1>Logged In</h1>
  <h4 th:text="${currentAccount.username}"></h4>
  <h4 th:text="${currentAccount.email}"></h4>
</div>
<div th:if="${not #lists.isEmpty(shoppingCartList)}">
  <div th:each="group : ${shoppingCartList}" class="itemView">
    <div th:each="item : ${group}" class="itemGroup">
      <img th:src="'data:image/jpeg;base64,' + ${item.image}" alt="" />
      <h5 th:text="${item.name}"></h5>
      <h4 th:text="${'£ '} + ${item.price}"></h4>
    </div>
  </div>
</div>
<script src="../static/js/jquery-3.7.1.min.js"></script>
</body>
<div th:replace="~{footer :: footer}"></div>
</html>